.productsList {
  margin: 0 auto;
  width: 100%;
}

.productsList__title {
  font-size: 25px;
  text-align: center;
  background-color: #0283e5;
  padding: 11.2px;
  color: white;
}

.productsList__table {
  width: 100%;
  border-collapse: collapse;
}

.productsList__table--itemHead:nth-child(1) {
  width: 5%;
}

.productsList__table--row:hover {
  background-color: #dddddd;
}

.productsList__table--item {
  text-align: center;
  padding: 10px 0;
  display: grid;
  grid-template-columns: 60% 40%;
}

.productsList__table--text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.productsList__table--update {
  border: 2px solid rgb(0, 211, 43);
  background: white;
  color: rgb(0, 211, 43);
  padding: 15px;
  width: 80%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  outline: none;
}

.productsList__table--update:hover {
  background-color: rgb(0, 156, 31);
  color: white;
}

@media (min-width: 1024px) {
  .productsList__table--item {
    grid-template-columns: 70% 30%;
  }
}
