div.ticketzien {
  grid-gap: 10px;
}

.ticket-detail-title {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  padding: 20px;
}

.ticket-detail-grid {
  display: grid;
}

.ticket-detail-decription {
  margin-left: 20px;
}

.ticket-detail-decription-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
}

.ticket-detail-decription-tekst {
  font-size: 12px;
}

.ticket-detail-info {
  display: grid;
  grid-template-columns: 20% 80%;
}

.ticket-detail-extra-info {
  display: grid;
  border-top: none;
  margin-top: 70px;
}

.ticket-detail-info,
.ticket-detail-extra-info {
  font-size: 15px;
  padding: 2px;
}

.ticket-detail-extra-info div:not(.ticket-detail-extra-info-button) {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.ticket-detail-extra-info-button {
  text-align: center;
}

.ticket-detail-extra-info-button button {
  margin: 10px;
  padding: 6px 12px;
  font-size: 14px;
  background-color: #00d32b;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.ticket-detail-extra-info-customer a {
  color: black;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .ticket-detail-grid {
    grid-template-columns: 1fr 1fr;
  }

  .ticket-detail-description {
    grid-row: 1/3;
  }

  .ticket-detail-extra-info {
    grid-template-columns: 1fr 1fr 1fr;
    border-top: none;
    grid-column: 1/3;
  }
}
