.ticket {
  padding: 10px 40px;
}

.ticket-head {
  display: grid;
  grid-template-columns: 15% 20% 65%;
}

.ticket-head-title {
  font-size: 50px;
  font-weight: 350;
}

.ticket-head-add-ticket {
  display: flex;
  align-items: center;
}

.ticket-head-add-ticket-button {
  margin-top: 12px;
  padding: 6px 20px;
  font-size: 14px;
  background-color: #00d32b;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.ticket-head-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ticket-head-search-input {
  border: none;
  border-bottom: solid #54595e 1px;
  font-size: 16px;
  width: 250px;
  padding: 5px;
  outline: none;
}

.FA svg {
  margin: 0 10px;
  height: 16px;
  width: 16px;
  color: black;
  cursor: pointer;
}

.FA svg:hover {
  color: #4c56af;
}

@media (min-width: 768px) {
  .popup-button-div {
    width: 50%;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .popup-button-div {
    width: 45%;
  }
}
