.ticket {
  padding: 10px 40px;
}

.ticket-head {
  display: grid;
  grid-template-columns: 15% 20% 65%;
}

.ticket-head-title {
  font-size: 50px;
  font-weight: 350;
}

.ticket-head-add-ticket {
  display: flex;
  align-items: center;
}

.ticket-head-add-ticket-button {
  margin-top: 12px;
  padding: 6px 12px;
  font-size: 16px;
  background-color: #00d32b;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.ticket-head-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.ticket-head-search-input {
  border: none;
  border-bottom: solid #54595e 1px;
  font-size: 16px;
  width: 250px;
}

.ticket-table {
  width: 100%;
  border-collapse: collapse;
}
.ticket-table-head-row {
  display: grid;
  grid-template-columns: 5% 30% repeat(4, 1fr) 10%;
  border-bottom: solid #54595e 1px;
  padding: 30px 10px 0 10px;
}

.ticket-table-head-row-item {
  text-align: left;
  text-transform: uppercase;
  color: #54595e;
  font-weight: 750;
  font-size: 18px;
}

.ticket-table-body-row {
  display: grid;
  grid-template-columns: 5% 30% repeat(4, 1fr) 10%;
  box-shadow: 0 2px 5px 1px #cacaca;
  margin: 10px 0;
  padding: 15px 10px;
}

.ticket-table-body-row-item {
  font-size: 18px;
}

.FA svg {
  margin: 0 10px;
  height: 16px;
  width: 16px;
  color: black;
  cursor: pointer;
}

.FA svg:hover {
  color: #4c56af;
}

@media (min-width: 768px) {
  .popup-button-div {
    width: 50%;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .popup-button-div {
    width: 45%;
  }
}
