.title {
  text-align: center;
}

button {
  padding: 10px;
  font-size: 15px;
}

.content {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.customer-list-row {
  grid-template-columns: 5% 30% 30% repeat(2, 1fr);
}

@media (max-width: 767px) {
  #customers tr {
    grid-template-columns: 2.7fr 4.4fr 2.4fr 1.7fr;
    font-size: 3vw;
  }
}
